/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0E1320;
    height: 100%;
    width: 100%;
}